# Compiled Object files
*.slo
*.lo
*.o
*.obj

# make dependency files
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
source/hector

# Hector outputs
logs/*.*

# OS-specific files
.DS_Store

# Xcode build directories
DerivedData/

# Project files
project_files/*.*
project_files/visual_studio/
libs/

#output
output/*.csv
output/*.ini
input/emissions/for_kate.csv
input/for_kate.ini
output/comparison_data/AGU_poster.csv
output/comparison_data
output/output
output/*.png
output/*.pdf
output/*.csv
output/rcp85
output/rcp45
output/.Rhistory
output/figures.R
output/logs/figures.R.txt
output/op_ch.R
output/rcp45_rcp85/011.ocean.ph_ll.csv
output/rcp45_rcp85/011.ocean.ph_ll.pdf
output/rcp45_rcp85/012.ocean.ph_ll.csv
output/rcp45_rcp85/012.ocean.ph_ll.pdf

*.xcuserstate
