# Compiled Object files
*.slo
*.lo
*.o
*.obj

# make dependency files
*.d

# emacs backup files
*~

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
source/hector

# Hector logs
logs/*.*

# OS-specific files
.DS_Store
.Trashes
*.swp

# Xcode build directories, schemes, and interface state
*.lock
*.xccheckout
*~.nib
build/
DerivedData/
xcodeuserstate
xcuserdata

# Project files
project_files/*.*
Release
ipch
Run Test Cases
Debug
libs
project_files/visual_studio/
libs/
*.kdev4

# Output
output/*.csv
output/*.ini
output/comparison_data
output/output
output/*.png
output/*.pdf
output/*.csv
output/rcp85
output/rcp45
output/figures.R
output/logs/figures.R.txt
output/op_ch.R
output/rcp45_rcp85/011.ocean.ph_ll.csv
output/rcp45_rcp85/011.ocean.ph_ll.pdf
output/rcp45_rcp85/012.ocean.ph_ll.csv
output/rcp45_rcp85/012.ocean.ph_ll.pdf

# R
.Rhistory
R/batchrunner/*.pdf
R/batchrunner/*.csv
.Rapp.history

