# Compiled Object files
*.slo
*.lo
*.o
*.obj

# make dependency files
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
source/hector

# Hector outputs
logs/*.*

# OS-specific files
.DS_Store

# Xcode build directories
DerivedData/

# Project files
project_files/*.*
project_files/visual_studio/
libs/

#output
output/*.csv
output/*.ini
