name: leeyabot
on:
  pull_request:
    branches:
      - master
      - v3_dev

jobs:
  run:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: iterative/setup-cml@v1
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - name: Install libcurl
        run: sudo apt-get install libcurl4-openssl-dev

      - name: Install dependencies
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          install.packages(c("ggplot2", "rmarkdown", "dplyr", "remotes", "here"))
          remotes::install_github("hadley/emo")
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Install package
        run: R CMD INSTALL .

      - name: Generate report
        run: |
          rmarkdown::render("./scripts/OutputDifferences.Rmd", run_pandoc = FALSE)
        shell: Rscript {0}

      - name: Post comment
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
         cd scripts/
         if [ -f "diff_plot.png" ]; then
          cml asset publish "diff_plot.png" --md >> OutputDifferences.knit.md
          cml asset publish "comp_plot.png" --md >> OutputDifferences.knit.md
          fi
         cml comment create OutputDifferences.knit.md
